registry = https://registry.npmjs.org/
loglevel = warn
save-exact = true
package-manager-strict = true

lockfile = true
lockfile-include-tarball-url = true
node-version = 22.21.1
engine-strict = true

save-prefix = ~
